.linear-scale-container {
  display: flex;
  color: $grey;
  font-size: 18px;
}

.linear-scale {
  list-style: none;
  width: 88px;
  max-height: 182px;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  background-color: $white;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: -52px;
  overflow-y: scroll;
}

.linear-scale-txt {
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  color: $grey;
  font-size: 18px;
  margin-top: 30px;
}

.linear-scale-number {
  padding: 8px 0;
}

.linear-scale-number:hover {
  background-color: $bright-grey;;
}

.linear-scale-column {
  position: relative;
  display: flex;
}

.fa-solid.fa-sort-down.scale-arrow {
  position: absolute;
  top: 30px;
  right: 16px;
}

.linear-scale-num {
  color: $grey;
  font-size: 18px;
  padding-inline-start: 43px;
  padding-inline-end: 40px;
  margin-top: 30px;
}

.linear-scale-range-info {
  color: $grey;
  font-size: 18px;
  padding: 16px 0;
  outline: none;
}

.linear-scale-range-label {
  border: none;
  margin-left: 16px;
  color: $grey;
  font-size: 18px;
  border-bottom: 1px solid $light-grey;
  width: 45%;
}

.linear-scale-range-label.line:focus {
  border-bottom: 1px solid $green;
}

.no-show {
  display: none;
}

.fa-solid.fa-circle {
  font-size: 24px;;
}

.linear-scale-preview-num {
  font-size: 24px;
}

.linear-scale-preview-hidden {
  margin: 64px auto;
}

.linear-scale-container.noshow {
  display: flex;
  justify-content: space-around;
  margin: 16px 0;;
}
