.multiple-options-container {
  display: block;
  background-color: $white;
}

.multiple-options-line {
  position: relative;
}

.multiple-options-txt {
  border: none;
  font-size: 16px;
  padding: 16px 0;
  width: 100%;
}

.multiple-options-txt.line {
  border-bottom: 1px solid $light-grey;
}

.multiple-options-txt:focus {
  border-bottom: 1px solid $green;
}

.multiple-options {
  display: flex;
  font-size: 16px;
  width: 100%;
}

.multiple-options-row {
  display: flex;
  padding-top: 16px;
  margin: 16px 0;
  justify-content: space-between;
}

.add-option-button {
  background-color: $white;
  border: none;
  padding-top: 36px;
  cursor: pointer;
  font-size: 18px;
  color: $light-grey;
  &.other-button {
    color: $blue;
  }
}

.add-option-container {
  display: flex;
  &.invisible {
    display: none;
  }
}

.txt {
  padding-top: 36px;
}

.fa-solid.fa-braille.handle.radio {
  position: absolute;
  left: -36px;
  top: 34px;
  text-align: center;
  color: $light-grey;
  transform: rotate(90deg);
}

.fa-solid.fa-braille.handle.radio:hover {
  cursor: pointer;
}

.fa-solid.fa-circle-dot {
  color: $light-grey;
  font-size: 24px;
  margin: 16px 32px 0 4px;
}

.fa-solid.fa-square {
  color: $light-grey;
  font-size: 24px;
  margin: 16px 32px 0 4px;
}

.fa-solid.fa-xmark {
  font-size: 24px;
  margin-right: 24px;
  color: $light-grey;
  margin-top: 16px;
}
.tick-checkbox {
  width: 22px;
  height: 22px;
  margin: 16px 32px 0 4px;
}

.radio-selector {
  width: 22px;
  height: 22px;
  margin: 16px 32px 0 4px;
}
