.navbar {
  height: 40px;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  padding: 30px 30vw;
}

.nav-item {
  list-style-type: none;
}

a {
  text-decoration: none;
  font: 16px;
  color: $grey;

}

a:hover {
  cursor: pointer;
}
