.form-title-container {
  border: 1px solid $light-grey;
  border-radius: 8px;
  padding: 32px 16px;
  position: relative;
}

.form-title {
  font-size: 40px;
  width: 100%;
  padding: 16px 0 8px 0;
  border: none;
  border-bottom: 1px solid $light-grey;
}

.form-description {
  width: 100%;
  border: none;
  font-size: 16px;
  white-space: normal;
  word-break: break-word;
  font-family: Roboto;
  border-bottom: 1px solid $light-grey;
  padding-top: 16px;
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid $green;
}

.form-title-container-line {
  position: absolute;
  background-color: $green;
  border-top-left-radius: 2px;
  border-top-right-radius: 8px;
  height: 9px;
  top: -17px;
  left: -64px;
  width: calc(100% + 2px);
  margin: 16px 64px;
  width: 100%;
}
.question-form-container {
    border: 1px solid $light-grey;
    border-radius: 8px;
    padding: 32px 16px;
    position: relative;
    margin: 16px 0;
}

.question-form {
  font-size: 24px;
  padding: 16px 0 8px 0;
  border: none;
  border-bottom: 1px solid $light-grey;
  width: 65%;
}

.first-line {
  display: flex;
}

.fa-solid.fa-trash-can {
  color: grey;
  margin-top: 32px;
  font-size: 24px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.question-icons {
  display: flex;
  align-items: center;
}

.required-button {
  border: 1px solid $light-grey;
  border-radius: 25%;
  background-color: $bright-grey;
  width: 54px;
  height: 16px;
  margin: 32px 0 0 64px;
  cursor: pointer;
  &.require-active {
    background-color: rgba(21, 164, 195, 35);
  }
}

.fa-solid.fa-circle {
  font-size: 28px;
  color: $light-grey;
  margin: -4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &.require-active {
    transition: all 0.5s ease-in-out;
    color: $blue;
    margin-top: -4px;
    margin-left: 32px;
  }
}

@media only screen and (max-width: 840px) {
  .first-line {
      display: block;
  }
  .question-form {
    margin-bottom: 16px;
  }
}
