.question-form-container {
    border: 1px solid $light-grey;
    border-radius: 8px;
    padding: 32px 16px;
    position: relative;
    margin: 16px 0;
}

.question-form {
  font-size: 24px;
  padding: 16px 0 8px 0;
  border: none;
  border-bottom: 1px solid $light-grey;
  width: 65%;
}

.first-line {
  display: flex;
  justify-content: space-between;
}

.question-options {
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 16px;
  width: 30%;
  background-color: white;
  cursor: pointer;
}

.fa-solid.fa-trash-can {
  color: grey;
  margin-top: 32px;
  font-size: 24px;
  cursor: pointer;
}

.hiden {
  display: none;
}

.question-icons {
  display: flex;
  align-items: center;
}

.required-button {
  border: 1px solid $light-grey;
  border-radius: 25%;
  background-color: $bright-grey;
  width: 54px;
  height: 16px;
  margin: 32px 0 0 64px;
  position: relative;
  cursor: pointer;
  &.require-active {
    background-color: rgba(21, 164, 195, 35);
  }
}

.fa-solid.fa-circle {
  font-size: 28px;
  color: $light-grey;
  margin: -4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &.require-active {
    transition: all 0.5s ease-in-out;
    color: $blue;
    margin-top: -4px;
    margin-left: 32px;
  }
}
