@import 'colours.scss';
@import 'question-form';
@import 'questions-list.scss';
@import 'multiple-options.scss';
@import 'linear-scale.scss';
@import 'navbar.scss';
@import 'form.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 16px 64px;
  font-family: Roboto;
  background-color: $baby-blue;
}
